<section>
  <header class="page-header">
    <h1>About Us</h1>
  </header>
  <p>
  Welcome to The Green Haven, your go-to destination for premium trees, evergreens, and bushes. With a passion for nature and a commitment to quality, we've been serving plant enthusiasts for over a decade.

  At Jungle, we take pride in offering a wide variety of lush and vibrant plants that can transform your outdoor space into a living paradise. Whether you're a seasoned gardener or a novice, we have the perfect greenery to meet your needs.
  
  Our dedicated team of horticulturists and plant experts is here to assist you in selecting the right trees, evergreens, and bushes for your garden. We believe that a well-maintained outdoor space can enhance the beauty of your home and bring you closer to nature.
  </p>
</section>