.stats {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-evenly;
}

.total-products, .total-categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  padding: 20px;
}